<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="pull-left">
        <!-- <div class="btn-group mail_more_btn" uib-dropdown> -->
        <!-- <button type="button" class="btn btn-secondary">Filter</button> -->
        <!-- <button type="button" class="btn btn-secondary dropdown-toggle" uib-dropdown-toggle> -->
        <!-- <span class="caret"></span> -->
        <!-- <span class="sr-only">Filtre</span> -->
        <!-- </button> -->
        <!-- <ul class="dropdown-menu" role="menu"> -->
        <!-- <li><a ui-sref="app.mail.list({fold:''})">Tous</a></li> -->
        <!-- <li><a ui-sref="app.mail.list({fold:'unread'})">Unread</a></li> -->
        <!-- <li><a ui-sref="app.mail.list({fold:'starred'})">Starred</a></li> -->
        <!-- </ul> -->
        <!-- </div> -->
    </div>
    <!-- <nav class='pull-right'> -->
    <!-- <ul class="pager mail_nav"> -->
    <!-- <li><a href="#"><i class='material-icons icon-secondary'>keyboard_arrow_left</i></a></li> -->
    <!-- <li><a href="#"><i class='material-icons icon-secondary'>keyboard_arrow_right</i></a></li> -->
    <!-- </ul> -->
    <!-- </nav> -->
    <!-- <span class='pull-right mail_count_nav text-muted'><strong>1</strong> to <strong>20</strong> of 3247</span> -->
</div>
<div class="col-md-12 col-sm-12 col-xs-12">
    <object data="{{docClickedSrc}}" type="application/pdf" width="100%" height="700px">
            <p><b>Example fallback content</b>: This browser does not support PDFs. Please download the PDF to view it: <a href="/pdf/sample-3pp.pdf">Download PDF</a>.</p>
         </object>
    <!--<div class="row" style="width: 100%; height: 500px;background:black">
        <div class="some-pdf-container" style="background: none;">
            <pdfjs-viewer src="{{docClickedSrc | trusted }}"></pdfjs-viewer>
        </div>
</div>-->
</div>