<div class='content-wrapper' ng-init="app.settings.pagetitle = 'Crédit spot';" >
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <section class="box">
            <header class="panel_header">
                <h2 class="title pull-left">Les détails de la demande de cotation</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons" style="color:#1065a8">expand_more</i>
                </div>
            </header>
            <div class="content-body">
                <!-- START -->
                <br>
                <div class='row'>
                    <div class="col-md-6">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td style="font-weight: bold">Entreprise : </td>
                                    <td>CIE</td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold">Date valeur : </td>
                                    <td>20/06/2017</td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold">Produit : </td>
                                    <td>CREDIT SPOT</td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold">Montant proposé</td>
                                    <td>2,000,000 XOF</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="col-md-6">
                        <table class="table">
                            <tbody>
                            <tr>
                                <td style="font-weight: bold">Banque : </td>
                                <td>SGBCI</td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold">Date maturité : </td>
                                <td>28/09/2017</td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold">Taux max proposé : </td>
                                <td>0%</td>
                            </tr>
                            <tr>
                                <td>Echéance anonyme et à un tour</td>
                                <td colspan="2"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <br>
            <!-- END -->
            </div>
        </section>
        <section class="box">
            <div class="content-body">
                <!-- START -->
                <br>
                <div class='row'>
                    <div class="col-md-12">
                        <table class="table">
                            <tbody>
                            <tr>
                                <td style="font-weight: bold">Notre taux : </td>
                                <td contenteditable="true" width="15px">0.0</td>
                                <td >%</td>
                                <td style="font-weight: bold">Voir docment(s) attache(s)</td>
                                <td>
                                    <form action="">
                                        <input type="radio" name="oui" value="male"> Oui
                                        &nbsp;&nbsp;
                                        <input type="radio" name="non" value="female"> Non
                                    </form>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <br>
                <!-- END -->
            </div>
        </section>
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Espace de calcul des commissions</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons" style="color:#1065a8">expand_more</i>
                </div>
            </header>
            <div class="content-body">
                <!-- START -->
                <div class="row">
                    <form>
                        <fieldset>
                            <legend>Commissions</legend>
                            <span style="font-weight: bold">Type : </span>
                            <input type="radio" name="" value="male"> Multiple
                            &nbsp;&nbsp;
                            <input type="radio" name="flat" value="female"> Flat

                            <br>

                            <span style="font-weight: bold">Nature : </span><textarea name="" cols="30" rows="10"></textarea>

                            <span style="font-weight: bold">Valeur : </span><input type="text">

                            <span style="font-weight: bold">Détail : </span><textarea name="" cols="30" rows="10"></textarea>

                            <input type="submit" class="btn btn-default" value="Ajouter à la liste">

                        </fieldset>
                    </form>
                </div>
            </div>
           <br>
							<div style="text-align:center;">
								<button type="submit" class="btn btn-success">VALIDER</button>
								&nbsp;
								&nbsp;
								<button type="button" onclick="window.history.go(-1); return false;" class="btn" style="background:#ff8000;">ANNULER</button>
							</div>
							<br>
							<br>
							<span ng-show="form.$invalid" style="color:red">* Veuillez renseigner les champs obligatoires.</span>
							<br>
							<div class="form-group">
								<div class="form-group">
								</div>
                            </div>
        </section>
    </div>
</div>

