<div class="modal-header">
    <div style="text-align:center;">
        <h4 class="modal-title">Information&nbsp;&nbsp;
            <i class="material-icons" style="color:#1065a8;" style="position: absolute;top: 15px;">info_outline</i>
        </h4>
    </div>
</div>
<div style="text-align:center;">
    <div class="modal-body">
        <span style="color:black;font-size:20px;font-family:gray">Vous avez une nouvelle notification.</span>
    </div>
</div>
<div class="modal-footer">
    <div style="text-align:center;">
        <button class="btn btn-primary" ng-click="reloading()">Oui</button>
        <button class="btn btn-default" style="background:#ff8000;color:#fff" ng-click="cancel()">Non</button>
    </div>
</div>