<div class="content-wrapper" ng-init="app.settings.pagetitle">
    <div class="col-lg-12">
        <section class="box">
            <header class="panel_header">
                <h2 class="title pull-left">Details sur la demande de cotation</h2>
                <div class="actions panel_actions pull-right">
                    <i id="box_toggle_more" class="box_toggle material-icons" id="box_toggle" style="color: #1065a8" on-load-clicker>expand_more</i>
                </div>
            </header>
            <div class="content-body" ng-if="selectedRowDmd.requestHasBank!=undefined">
                <div class="row">
                    <form id="general_validate" action="javascript:;" name="form">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-label" for="formfield2">ENTREPRISE </label>
                                <!-- <span class="desc"></span> -->
                                <div class="controls">
                                    <input type="text" disabled="disabled" name="entreprise" ng-model="entO" class="form-control">
                                </div>
                            </div>
                            <div class="form-group" ng-if="selectedRowDmd.requestHasBank.request.product.nom!='ESCOMPTE'">
                                <label class="form-label" for="formfield2">DATE VALEUR </label>
                                <!-- <span class="desc"></span> -->
                                <div class="controls">
                                    <input type="text" disabled="disabled" name="datevall" ng-model="datevallO" class="form-control"> </input>
                                </div>
                            </div>
                            <div class="form-group" ng-if="selectedRowDmd.requestHasBank.request.product.nom=='ESCOMPTE'">
                                <label class="form-label" for="formfield2">DATE VALEUR </label>
                                <!-- <span class="desc"></span> -->
                                <div class="controls">
                                    <input type="text" disabled="disabled" name="datevall" ng-model="dateVallOEscomp" class="form-control"> </input>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="formfield2">PRODUIT </label>
                                <!-- <span class="desc"></span> -->
                                <div class="controls">
                                    <input type="text" disabled="disabled" name="prdt" ng-model="prdtO" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="formfield2">MONTANT
									PROPOSE </label>
                                <!-- <span class="desc"></span> -->
                                <div class="controls">
                                    <input type="text" disabled="disabled" name="montt" ng-model="monttO" class="form-control">
                                </div>
                            </div>

                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-label" for="formfield2">BANQUE </label>
                                <!-- <span class="desc"></span> -->
                                <div class="controls">
                                    <input type="text" disabled="disabled" name="banque" ng-model="banqueO" class="form-control">
                                </div>
                            </div>
                            <div class="form-group" ng-if="selectedRowDmd.requestHasBank.request.product.nom=='CHANGE'">
                                <label class="form-label" for="formfield2">DEVISE</label>
                                <!-- <span class="desc"></span> -->
                                <div class="controls">
                                    <input type="text" disabled="disabled" name="montt" ng-model="deviseO" class="form-control">
                                </div>
                            </div>
                            <div class="form-group" ng-if="selectedRowDmd.requestHasBank.request.product.nom=='SPOT' && selectedRowDmd.requestHasBank.request.product.nom!='CHANGE' && selectedRowDmd.requestHasBank.request.product.nom!='TRANSFERT'">
                                <label class="form-label" for="formfield2">DATE MATURITE </label>
                                <!-- <span class="desc"></span> -->
                                <div class="controls">
                                    <input type="text" disabled="disabled" name="datevall" ng-model="dateMatOSPOT" class="form-control"> </input>
                                </div>
                            </div>
                            <div class="form-group" ng-if="selectedRowDmd.requestHasBank.request.product.nom!='SPOT' && selectedRowDmd.requestHasBank.request.product.nom!='CHANGE' && selectedRowDmd.requestHasBank.request.product.nom!='TRANSFERT'">
                                <label class="form-label" for="formfield2">DATE MATURITE
								</label>
                                <!-- <span class="desc"></span> -->
                                <div class="controls">
                                    <input type="text" disabled="disabled" name="duree" ng-model="dateMatO" class="form-control">
                                </div>
                            </div>
                            <div class="form-group" ng-if="selectedRowDmd.requestHasBank.request.product.nom!='CHANGE' && selectedRowDmd.requestHasBank.request.product.nom!='DEPOT A TERME'">
                                <label class="form-label" for="formfield2">TAUX MAX
									PROPOSE </label>
                                <!-- <span class="desc"></span> -->
                                <div class="controls">
                                    <input type="text" disabled="disabled" name="tauxMax" ng-model="tauxMaxO" class="form-control">
                                </div>
                            </div>
                            <div class="form-group" ng-if="selectedRowDmd.requestHasBank.request.product.nom=='CHANGE'">
                                <label class="form-label" for="formfield2">COURS MAX
									PROPOSE </label>
                                <!-- <span class="desc"></span> -->
                                <div class="controls">
                                    <input type="text" disabled="disabled" name="coursMaxO" ng-model="coursMaxO" class="form-control">
                                </div>
                            </div>
                            <div class="form-group" ng-if="selectedRowDmd.requestHasBank.request.product.nom=='DEPOT A TERME'">
                                <label class="form-label" for="formfield2">TAUX MIN
									PROPOSE </label>
                                <!-- <span class="desc"></span> -->
                                <div class="controls">
                                    <input type="text" disabled="disabled" name="tauxMin" ng-model="tauxMin" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="formfield2"></label>
                                <!-- <span class="desc"></span> -->
                                <div class="controls">
                                    <input type="text" disabled="disabled" name="enchA" ng-model="enchere" class="form-control">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="content-body" ng-if="selectedRowOffer.demandeIdDemande!=undefined">
                <div class="row">
                    <form id="general_validate" action="javascript:;" name="form">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-label" for="formfield2">ENTREPRISE </label>
                                <!-- <span class="desc"></span> -->
                                <div class="controls">
                                    <input type="text" disabled="disabled" name="entreprise" ng-model="entOff" class="form-control">
                                </div>
                            </div>
                            <div class="form-group" ng-if="selectedRowOffer.demandeIdDemande.product.nom!='ESCOMPTE'">
                                <label class="form-label" for="formfield2">DATE VALEUR </label>
                                <!-- <span class="desc"></span> -->
                                <div class="controls">
                                    <input type="text" disabled="disabled" name="datevall" ng-model="datevallOff" class="form-control"> </input>
                                </div>
                            </div>
                            <div class="form-group" ng-if="selectedRowOffer.demandeIdDemande.product.nom=='ESCOMPTE'">
                                <label class="form-label" for="formfield2">DATE VALEUR </label>
                                <!-- <span class="desc"></span> -->
                                <div class="controls">
                                    <input type="text" disabled="disabled" name="datevallOffEscomp" ng-model="datevallOffEscomp" class="form-control"> </input>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="formfield2">PRODUIT </label>
                                <!-- <span class="desc"></span> -->
                                <div class="controls">
                                    <input type="text" disabled="disabled" name="prdt" ng-model="prdtOff" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="formfield2">MONTANT
									PROPOSE </label>
                                <!-- <span class="desc"></span> -->
                                <div class="controls">
                                    <input type="text" disabled="disabled" name="montt" ng-model="monttOff" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-label" for="formfield2">BANQUE </label>
                                <!-- <span class="desc"></span> -->
                                <div class="controls">
                                    <input type="text" disabled="disabled" name="banque" ng-model="banqueV" class="form-control">
                                </div>
                            </div>
                            <div class="form-group" ng-if="selectedRowOffer.demandeIdDemande.product.nom!='SPOT' && selectedRowOffer.demandeIdDemande.product.nom!='CHANGE' && selectedRowOffer.demandeIdDemande.product.nom!='TRANSFERT'">
                                <label class="form-label" for="formfield2">DATE MATURITE
								</label>
                                <!-- <span class="desc"></span> -->
                                <div class="controls">
                                    <input type="text" disabled="disabled" name="duree" ng-model="dateMatOff" class="form-control">
                                </div>
                            </div>
                            <div class="form-group" ng-if="selectedRowOffer.demandeIdDemande.product.nom=='SPOT' && selectedRowOffer.demandeIdDemande.product.nom!='CHANGE' && selectedRowOffer.demandeIdDemande.product.nom!='TRANSFERT'">
                                <label class="form-label" for="formfield2">DATE MATURITE
								</label>
                                <!-- <span class="desc"></span> -->
                                <div class="controls">
                                    <input type="text" disabled="disabled" name="duree" ng-model="dateEchOff" class="form-control">
                                </div>
                            </div>
                            <div class="form-group" ng-if="selectedRowOffer.demandeIdDemande.product.nom!='DEPOT A TERME' && selectedRowOffer.demandeIdDemande.product.nom!='CHANGE'">
                                <label class="form-label" for="formfield2">TAUX MAX
									PROPOSE </label>
                                <!-- <span class="desc"></span> -->
                                <div class="controls">
                                    <input type="text" disabled="disabled" name="tauxMax" ng-model="tauxMaxOff" class="form-control">
                                </div>
                            </div>
                            <div class="form-group" ng-if="selectedRowOffer.demandeIdDemande.product.nom=='DEPOT A TERME'">
                                <label class="form-label" for="formfield2">TAUX MIN
									PROPOSE </label>
                                <!-- <span class="desc"></span> -->
                                <div class="controls">
                                    <input type="text" disabled="disabled" name="tauxMinOff" ng-model="tauxMinOff" class="form-control">
                                </div>
                            </div>
                            <div class="form-group" ng-if="selectedRowOffer.demandeIdDemande.product.nom=='CHANGE'">
                                <label class="form-label" for="formfield2">COURS MAX
									PROPOSE </label>
                                <!-- <span class="desc"></span> -->
                                <div class="controls">
                                    <input type="text" disabled="disabled" name="courMaxOff" ng-model="courMaxOff" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="formfield2"></label>
                                <!-- <span class="desc"></span> -->
                                <div class="controls">
                                    <input type="text" disabled="disabled" name="enchA" ng-model="enchere" class="form-control">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <br>
        <div class="col-sm-12">
            <div class="col-sm-6">
                <div class="form-group">
                    <label ng-if="selectedRowDmd.requestHasBank!=undefined" class="form-label" for="formfield2">NOTRE TAUX<span
									style="color: #ff8000">*</span>
						<span ng-if="selectedRowDmd.requestHasBank.request.product.nom!='CHANGE'">(%)</span>
					</label>
                    <label ng-if="selectedRowOffer.demandeIdDemande!=undefined" class="form-label" for="formfield2">NOTRE TAUX<span
									style="color: #ff8000">*</span>
						<span ng-if="selectedRowOffer.demandeIdDemande.product.nom!='CHANGE'">(%)</span>
					</label>
                    <!-- <span class="desc"></span> -->
                    <div class="controls">
                        <input type="text" name="taux" class="form-control" ng-model="notretaux" ng-change="changeNotreTaux(notretaux)" required> <span ng-show="form.taux.$submitted && form.taux.$error.required" style="color: #ff8000">Le taux est obligatoire.</span>                        <span ng-show="form.taux.$touched && form.taux.$error.required" style="color: #ff8000">Ce champ est obligatoire.</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="form-label" for="formfield2">VOIR
						DOCUMENTS(S) ATTACHE(S)</label>
                    <div class='row'>
                        <div class="col-xs-7">
                            <div class="col-xs-3" style="width: auto">
                                <div class="radio" style="cursor: pointer;">
                                    <label> <input style="width: 15px; height: 15px"
										name="voir" ng-click="ShowTable('Y')" type="radio"
										ng-value="1" ng-model="doc"> OUI
									</label>
                                </div>
                            </div>
                            <div class="col-xs-3" style="width: auto">
                                <div class="radio" style="cursor: pointer;">
                                    <label> <input style="width: 15px; height: 15px"
										name="voir" ng-click="ShowTable('N')" ng-model="doc"
										ng-value="2" type="radio"> NON
									</label>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="controls"></div>
                </div>
                <div ng-show="IsVisible">
                    <div style="height: 200px; overflow: auto; margin-top: 15px">
                        <table style="width: 100%" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Select</th>
                                    <th>Mes documents</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="document in documentsbyUser">
                                    <td>
                                        <input id="checkbxinput" class="doc_{{document.idDocuments}}" style="color:#1065a8;width:15px;height:15px" type="checkbox" value="{{document.idDocuments}}" ng-checked="selectiond.indexOf(document.idDocuments) > -1" ng-click="changeDocus(document.idDocuments)"
                                            class="input-sm" />
                                    </td>
                                    <td>{{document.nom}}.pdf</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Espace de calcul des commissions</h2>
                <div class="actions panel_actions pull-right">
                    <i id="box_toggle_less" class="box_toggle material-icons" style="color: #1065a8" on-load-clicker_>expand_less</i>
                </div>
            </header>
            <div class="content-body">
                <br>
                <fieldset>
                    <legend>Commissions</legend>
                    <div class="row">
                        <form id="general_validate" action="javascript:;" name="form" class="form-validation">
                            <div ng-repeat="itemToAdd in itemsToAdd">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label class="form-label" for="formfield2">En pourcentage du montant </label>
                                        <div class='row'>
                                            <div class="col-xs-7">
                                                <div class="col-xs-3" style="width: auto">
                                                    <div class="radio" style="cursor: pointer;">
                                                        <label> <input style="width: 15px; height: 15px"
															type="radio" ng-value="1" ng-model="itemToAdd.type">
															Oui
														</label>
                                                    </div>
                                                </div>
                                                <div class="col-xs-3" style="width: auto">
                                                    <div class="radio" style="cursor: pointer;">
                                                        <label> <input style="width: 15px; height: 15px"
															ng-model="itemToAdd.type" ng-value="2" type="radio">
															Non
														</label>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="controls"></div>
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="form-label" for="formfield2">NATURE <span
											style="color: #ff8000"></span></label>
                                        <!-- <span class="desc"></span> -->
                                        <div class="controls">
                                            <input type="text" name="code" ng-model="itemToAdd.nature" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="form-label" for="formfield2">VALEUR
											<span style="color: #ff8000"></span>
										</label>
                                        <!-- <span class="desc"></span> -->
                                        <div class="controls">
                                            <input type="text" ng-model="itemToAdd.valeur" name="valeur" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="form-label" for="formfield2">DETAILS <span
											style="color: #ff8000"></span></label>
                                        <!-- <span class="desc"></span> -->
                                        <div class="controls">
                                            <input type="text" ng-model="itemToAdd.detail" name="detail" class="form-control">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-2">
                                    <br>

                                    <div class="form-group">
                                        <button type="submit" ng-disabled="form.$invalid" ng-click="add(itemToAdd)" class="btn btn-success">Ajouter
										</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </fieldset>
            </div>
            <div class="form-group">
                <div class="form-group"></div>
            </div>
        </section>
        <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
            <div ng-if="selectedRowDmd.requestHasBank.hasOffer===false">
                <table class="table table-striped" class="table table-striped">
                    <thead>
                        <tr>
                            <th style="width: auto">En pourcentage du montant </th>
                            <th style="width: auto">NATURE</th>
                            <th style="width: auto">VALEUR</th>
                            <th style="width: auto">DETAIL</th>
                            <th style="width: auto">ACTIONS</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in items">
                            <td>{{item.type}}</td>
                            <td>{{item.nature}}</td>
                            <td>{{item.valeur}}</td>
                            <td>{{item.detail}}</td>
                            <td>
                                <a style='color: #ff8000; cursor: pointer;' ng-click="remove(item)"> <i class='material-icons'>delete</i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div ng-if="selectedRowDmd.requestHasBank.hasOffer===true">
                <table class="table table-striped" class="table table-striped">
                    <thead>
                        <tr>
                            <th style="width: auto">En pourcentage du montant</th>
                            <th style="width: auto">NATURE</th>
                            <th style="width: auto">VALEUR</th>
                            <th style="width: auto">DETAIL</th>
                            <th style="width: auto">ACTIONS</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in items">
                            <td>{{item.type}}</td>
                            <td>{{item.nature}}</td>
                            <td>{{item.valeur}}</td>
                            <td>{{item.detail}}</td>
                            <td>
                                <a style='color: #ff8000; cursor: pointer;' ng-click="remove(item)"> <i class='material-icons'>delete</i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div style="display: none;">
                <input type="text" ng-model="idDemande">
            </div>
            <div class="form-group">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div style="text-align: center;">
                        <img id="mySpinner" src="{{spinner}}" ng-show="loading" />&nbsp;&nbsp;&nbsp;
                        <button type="submit" ng-if="selectedRowDmd.requestHasBank.hasOffer===false" ng-disabled="form.$invalid || disabl" ng-click="saveOffer();" class="btn btn-success">Valider</button>
                        <button type="submit" ng-if="selectedRowDmd.requestHasBank.hasOffer===true" ng-disabled="form.$invalid || disabl" ng-click="updateOffer(notretaux);" class="btn btn-success">Valider</button>
                        <button type="submit" ng-if="selectedRowOffer.demandeIdDemande!=undefined" ng-disabled="form.$invalid || disabl" ng-click="updateOfferValid(notretaux);" class="btn btn-success">Valider</button>
                        <button style="background: #ff8000;" ng-click="cancel()" type="button" class="btn">Annuler</button>
                    </div>
                    <div ng-if="errorMessage!=null" style="color: #ff8000">
                        <span>{{errorMessage}}</span>
                    </div>
                    <div ng-if="sucessMessage!=null" style="color: #1f93f6">
                        <span>{{sucessMessage}}</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <br>
                </div>
            </div>
        </div>

    </div>
</div>