<div class="content-wrapper" ng-init="app.settings.pagetitle">
    <div class="col-lg-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left" ng-if="selectedTransfert.idTauxJour==undefined">AJOUTER UN TAUX</h2>
                <h2 class="title pull-left" ng-if="selectedTransfert.idTauxJour!=undefined">MODIFIER UN TAUX</h2>
                <div class="actions panel_actions pull-right">
                    <i id="box_toggle_more" class="box_toggle material-icons" on-load-clicker>expand_more</i>
                </div>
            </header>
            <div class="content-body">
                <div class="row">
                    <form id="general_validate" action="javascript:;" name="form" class="form-validation">
                        <div class="col-lg-8 col-md-8 col-sm-10 col-xs-10 ">
                            <div class="form-group">
                                <label class="form-label" for="formfield8">TAUX (%) <span style="color:#ff8000">*</span></label>
                                <div class="controls">
                                    <input type="number" class="form-control" name="val_taux" ng-model="tauxTrans" required></input>
                                    <span ng-show="form.val_taux.$submitted && form.val_taux.$error.required" style="color:#ff8000">La valeur du taux est obligatoire.</span>
                                    <span ng-show="form.val_taux.$touched && form.val_taux.$error.required" style="color:#ff8000">Ce champ est obligatoire.</span>
                                    <span ng-show="form.input.$error.number" style="color:#ff8000">Le format est incorrect.</span>
                                    <span ng-show="isErrorNumb" style="color:#ff8000">La valeur du taux doit être supérieure à zéro.</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="formfield8">DATE DEBUT VALIDITé <span style="color:#ff8000">*</span></label>
                                <div class="controls">
                                    <div class="input-group" inputgroup>
                                        <!-- <input type="date" value="12/08/2017" class="form-control"  name="date" ng-model="date" required></input> -->
                                        <input type="text" ng-change="changeDateTrans(dateTransfer)" ng-disabled="selectedTransfert.idTauxJour!=undefined" name="date_" class="form-control datepicker" uib-datepicker-popup ng-model="dateTransfer" is-open="dtpick.opened2" min-date="minDate" max-date="'2015-06-22'"
                                            datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" required/>
                                        <span class="input-group-addon"><i class="fa fa-calendar" style="color: #999;"></i></span>
                                    </div>

                                </div>
                                <span ng-show="form.date_.$submitted && form.date_.$error.required" style="color:#ff8000">La date est obligatoire.</span>
                                <span ng-show="form.dated.$touched && form.date_.$error.required" style="color:#ff8000">Ce champ est obligatoire.</span>
                                <span ng-show="form.input.$error.date" style="color:#ff8000">Le format est incorrect.</span>
                                <span ng-show="dateSpot!=null&&
												(minDate.getFullYear()>dateSpot.getFullYear()||
												minDate.getFullYear()==dateSpot.getFullYear()&&
												(minDate.getMonth()+1)>(dateSpot.getMonth()+1)||
												minDate.getFullYear()==dateSpot.getFullYear()&&
												(minDate.getMonth()+1)==(dateSpot.getMonth()+1)&&
												minDate.getDate()>dateSpot.getDate())" style="color:#ff8000">
										La date ne doit pas être inférieure à celle d'aujourd'hui.
									</span>
                            </div>
                            <div class="form-group">
                                <div style="text-align:center;">
                                    <img id="mySpinner" src="{{spinner}}" ng-show="loading" />&nbsp;&nbsp;&nbsp;
                                    <button type="submit" ng-click="submitTauxTrans(dateTransfer,tauxTrans)" ng-disabled="form.$invalid || date_!=null&&
											(minDate.getFullYear()>date_.getFullYear()||
											minDate.getFullYear()==date_.getFullYear()&&
											(minDate.getMonth()+1)>(date_.getMonth()+1)||
											minDate.getFullYear()==date_.getFullYear()&&
											(minDate.getMonth()+1)==(date_.getMonth()+1)&&
											minDate.getDate()>date_.getDate()) || disabl" class="btn btn-success">VALIDER</button> &nbsp; &nbsp;
                                    <button type="button" ng-click="cancel()" class="btn" style="background:#ff8000;">ANNULER</button>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-group">
                                    <span style="color:#ff8000" ng-show="form.$invalid">* Veuillez renseigner les champs obligatoires</span>
                                </div>
                                <div ng-if="errorMessage!=null" style="color: #ff8000">
                                    <span>{{errorMessage}}</span>
                                </div>
                                <div ng-if="sucessMessage!=null" style="color: #1f93f6">
                                    <span>{{sucessMessage}}</span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
</div>