<div class='content-wrapper' ng-init="app.settings.pagetitle"
	data-ng-controller="eTEnController">
	<div class="col-lg-12">
		<button class="btn btn-primary btn-sm" ng-click="addProduit()">
			<i class="material-icons"
				style="position: absolute; top: 5px; left: 0px;">add</i>&nbsp;&nbsp;&nbsp;Ajouter
			produit
		</button>
		<section class="box ">
			<header class="panel_header">
				<h2 class="title pull-left">LISTE DE NOS PRODUITS</h2>
				<div class="actions panel_actions pull-right">
					<i class="box_toggle material-icons">expand_more</i>
				</div>
			</header>
			<div class="content-body padding-bottom-15">
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
						<table ng-if="isDataReadyEtProduit" class="table table-striped" ui-jq="dataTable" ui-options=""
							class="table table-striped">
							<thead>
								<tr>
									<th style="width: auto">NUMERO</th>
									<!-- 									<th style="width:auto">TYPE</th> -->
									<th style="width: auto">NOM</th>
									<th style="width: auto">AVANTAGE</th>
									<th style="width: auto">INCONVENIENT</th>
									<th style="width: auto">NEGOCIABLE</th>
									<th style="max-width: 200px; width: 106px;min-width: 100px;">ACTIONS</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="produit in etreasuryProduit | orderBy:'-idProduits'">
									<td style="width: auto">{{$index+1}}</td>
									<!-- 									<td style="width:auto">{{produit.productType.libelle}}</td> -->
									<td style="width: auto"><span ng-bind="produit.nom"></span></td>
									<td style="width: auto">{{produit.avantages}}</td>
									<td style="width: auto">{{produit.inconvenients}}</td>
									<td style="width: auto">{{produit.nonNegociable}}</td>
									<td style="width: auto"><a ng-click="editProduit(produit)"
										style='color: #1f93f6; cursor: pointer;'><i
											class='material-icons'>mode_edit</i></a> &nbsp;&nbsp; <a
										ng-if="false" ng-click="detailProduit(produit)"
										style='color: #1f93f6; cursor: pointer;'><i
											class='material-icons'>remove_red_eye</i></a> &nbsp;&nbsp; <a
										ng-if="false" ng-click="suppProduit( produit )"
										style='color: #ff8000; cursor: pointer;'><i
											class='material-icons'>delete</i></a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>
