<div class="accueil_page">
	<div class="login-wrapper" ng-controller="LoginFormController">
		<h1><a class="classe_logo"  title="Tableau de bord" tabindex="-1">Tableau de bord</a></h1>       
		<!-- <h2 style="text-align:center;color:#F5F5F5">Tableau de bord</h2>	 -->
		<div class="container">
				<div class="row" id="row">
					<div class="col-md-4" style="-webkit-border-radius: 10px;">
						<p id="accueil">
							<img id="img_dash" src="img/et_admin_bk_dash.png"/> <br/>
							BANQUE
						</p>
					</div>
					<div class="col-md-4" style="-webkit-border-radius: 10px;">
						<p id="accueil1">
							<img id="img_dash" src="img/et_admin_ent_dash.png"/> <br/>
							ENTREPRISE
						</p>
					</div>
				</div>
				<div class="row" id="row">
					<div class="col-md-4" style="-webkit-border-radius: 10px;">
						<p id="accueil2" ng-click="login3()">
							<img id="img_dash" src="img/et_admin_dash.png"/> <br/>
							ADMINISTRATION
						</p>
					</div>
					<div class="col-md-4" style="-webkit-border-radius: 10px;">
						<p id="accueil3">
							<img id="img_dash" src="img/et_admin_rp_dash.png"/> <br/>
							REPORTING
						</p>
					</div>
				</div>
		</div>
			<footer class="classe_footer">
						<label style="text-align: center;
										font-size: 10px;
										margin-top: 50px;
										padding-left: 44%;
										color: #e1e1e1;">
							Copyright © Etreasury | All rights reserved
						</label>
						<label style="text-align: center;
										font-size: 10px;
										margin-top: 2px;
										padding-left: 45.5%;
										color: #e1e1e1;">
							Privacy policy | Terms of service
						</label>
			</footer>
	</div>
</div>




