<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="pull-left">
        <!-- <div class="btn-group mail_more_btn" uib-dropdown> -->
            <!-- <button type="button" class="btn btn-secondary">Filter</button> -->
            <!-- <button type="button" class="btn btn-secondary dropdown-toggle" uib-dropdown-toggle> -->
                <!-- <span class="caret"></span> -->
                <!-- <span class="sr-only">Filtre</span> -->
            <!-- </button> -->
            <!-- <ul class="dropdown-menu" role="menu"> -->
                <!-- <li><a ui-sref="app.mail.list({fold:''})">Tous</a></li> -->
                <!-- <li><a ui-sref="app.mail.list({fold:'unread'})">Unread</a></li> -->
                <!-- <li><a ui-sref="app.mail.list({fold:'starred'})">Starred</a></li> -->
            <!-- </ul> -->
        <!-- </div> -->
    </div>
    <!-- <nav class='pull-right'> -->
        <!-- <ul class="pager mail_nav"> -->
            <!-- <li><a href="#"><i class='material-icons icon-secondary'>keyboard_arrow_left</i></a></li> -->
            <!-- <li><a href="#"><i class='material-icons icon-secondary'>keyboard_arrow_right</i></a></li> -->
        <!-- </ul> -->
    <!-- </nav> -->
    <!-- <span class='pull-right mail_count_nav text-muted'><strong>1</strong> to <strong>20</strong> of 3247</span> -->
</div>
<div class="col-md-12 col-sm-12 col-xs-12 mail_list" ng-controller="NostauxListCtrl">
	 <section class="box ">
            <!-- <header class="panel_header"> -->
                <!-- <h2 class="title pull-left">Tous les documents reçus</h2> -->
                <!-- <div class="actions panel_actions pull-right"> -->
                    <!-- <i class="box_toggle material-icons">expand_more</i> -->
                <!-- </div> -->
            <!-- </header> -->
            <div class="content-body padding-bottom-0">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
							<!-- <div class="col-xs-1"></div> -->
							<div class="col-md-12 col-sm-12 col-xs-12">
								<div style="text-align:center;">
									<img id="mySpinner" style="width:50px" src="img/loading.gif" ng-show="loading" />
									<!-- <div ng-show="!loading && (listDocsbyUserAndCats.length==0 && listDocsbyUserAndSubCats.length==0)"> -->
										<!-- <h4>Aucun document trouvé pour <strong>{{fold}}</strong>.</h4> -->
									<!-- </div> -->
								</div> 
							</div> 
							<!-- <div class="col-md-12 col-sm-12 col-xs-12" ng-if="!loading && (listDocsbyUserAndCats.length!=0 || listDocsbyUserAndSubCats.length!=0)"> -->
								<!-- <div style="text-align:center;"> -->
									<!-- <marquee behavior="scroll" direction="left"><h4><strong>Les documents de {{fold}}</strong></h4></marquee> -->
								<!-- </div>  -->
							<!-- </div>  -->
							<br>
                            <div class="col-lg-3 col-sm-6 col-md-4 col-md-12" ng-show="!loading" ng-repeat="doc in listDocsbyUserAndCats">
                                <div class="team-member ">
                                    <div class="team-img col-md-12 col-sm-12 col-xs-12">
                                        <img class="img-responsive" ng-src="data/patients/pdf.png" alt="">
                                    </div>
									<br>
                                    <div class="team-info col-md-12 col-sm-12 col-xs-12">
										<br>
										<div style="text-align:center;">
											<!-- &nbsp; -->
											<span>
												<a ng-click="catDocEntDetail($event,doc,doc.category.libelle,doc.nom,doc.urlDocument,doc.idDocuments)">
													<i class='material-icons icon-sm' style="cursor:pointer">remove_red_eye</i>
												</a>
											</span>
											&nbsp;
											&nbsp;
											<span style="cursor:pointer;">
												<a ng-click="auditCatDoc(doc)">
													<!-- <img src="img/auditing.png" /> -->
													<!-- <i class='fa fa-external-link' style="cursor:pointer;color: #1f93f6;font-size: 25px;"></i> -->
													<i class="material-icons">launch</i>
													<!-- <i class="material-icons">details</i> -->
												</a>
											</span>
											<br>
											<h4 class='margin-top-15 margin-bottom-10'>
												Nom: &nbsp;<span style='color: #1f93f6;'>{{doc.nom}}.pdf</span>
											</h4>
											<!-- <span class='team-member-edit'> -->
												<!-- <a ui-sref="app.adminent_op_esp_mesdoc.visualent_bynamedoc({name: name, named : doc.nom, url_ : doc.urlDocument,id : doc.idDocuments})"> -->
													<!-- <i class='material-icons icon-sm' style="cursor:pointer">remove_red_eye</i> -->
												<!-- </a> -->
											<!-- </span> -->
											Catégorie/Sous: &nbsp;<span style='color: #1f93f6;'>{{doc.category.libelle}}<span> <br>
											Date de création: &nbsp;<span style='color: #1f93f6;'>{{doc.dateDocument | date:'dd/MM/yyyy'}}</span>
											<div class="clearfix"></div>
										</div>
                                    </div>
                                </div>
                            </div>
							<div class="col-lg-3 col-sm-6 col-md-4 col-md-12" ng-show="!loading" ng-repeat="doc in listDocsbyUserAndSubCats">
                                <div class="team-member ">
                                    <div class="team-img col-md-12 col-sm-12 col-xs-12">
                                        <img class="img-responsive" ng-src="data/patients/pdf.png" alt="">
                                    </div>
									<br>
                                    <div class="team-info col-md-12 col-sm-12 col-xs-12">
										<br>
										<div style="text-align:center;">
											<!-- &nbsp; -->
											<span style="cursor:pointer;">
												<a ng-click="catDocEntDetail($event,doc,doc.category.libelle,doc.nom,doc.urlDocument,doc.idDocuments)">
													<i class='material-icons icon-sm' style="cursor:pointer">remove_red_eye</i>
												</a>
											</span>
											&nbsp;
											&nbsp;
											<span style="cursor:pointer;">
												<a ng-click="auditSubCatDoc(doc)">
													<!-- <img src="img/auditing.png" /> -->
													<!-- <i class='fa fa-external-link' style="cursor:pointer;color: #1f93f6;font-size: 25px;"></i> -->
													<i class="material-icons">launch</i>
													<!-- <i class="material-icons">details</i> -->
												</a>
											</span>
											<br>
											<h4 class='margin-top-15 margin-bottom-10'>
												Nom: &nbsp;<span style='color: #1f93f6;'>{{doc.nom}}.pdf</span>
											</h4>
											<!-- <span class='team-member-edit'> -->
												<!-- <a ui-sref="app.adminent_op_esp_mesdoc.visualent_bynamedoc({name: name, named : doc.nom, url_ : doc.urlDocument,id : doc.idDocuments})"> -->
													<!-- <i class='material-icons icon-sm' style="cursor:pointer">remove_red_eye</i> -->
												<!-- </a> -->
											<!-- </span>
											-->
											Catégorie: &nbsp;<span style='color: #1f93f6;'>{{doc.category.libelle}}</span> <br>
											Date de création: &nbsp;<span style='color: #1f93f6;'>{{doc.dateDocument | date:'dd/MM/yyyy'}}</span>
											<div class="clearfix"></div>
										</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-controller="PaginationDemoCtrl" ng-if="!loading && (listDocsbyUserAndCats.length!=0 || listDocsbyUserAndSubCats.length!=0)">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center padding-top-30 padding-bottom-30">
                                <uib-pagination total-items="totalItems" ng-model="currentPage"></uib-pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
</div>
