<div class='content-wrapper' ng-init="app.settings.pagetitle = 'CHANGE';">  
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
		<form id="general_validate" action="javascript:;" name="form" class="form-validation">
                    <section class="box ">
                            <header class="panel_header">
                                <h2 class="title pull-left" ng-if="isOperation">CARACTERISTIQUES GÉNÉRALES DE LA DEMANDE</h2>
								<h2 class="title pull-left" ng-if="!isOperation && isOperation!=null">MODIFIER INFORMATIONS DE LA DEMANDE</h2>
								<h2 class="title pull-left" ng-if="idDetail && isOperation==null">DÉTAILS DE LA DEMANDE</h2>
								<h2 class="title pull-left" ng-if="!idDetail && isOperation==null">VALIDATION DE LA DEMANDE</h2>
                                <div class="actions panel_actions pull-right">
                                    <i id="box_toggle_more" class="box_toggle material-icons" style="color:#1065a8" on-load-clicker>expand_more</i>
                                </div>
                            </header>
                            <div class="content-body"  ng-controller="DatepickerDemoCtrl">
                                <!-- START -->
                                <br>
                                <div class="row">
									<div class="col-sm-6"> 
										<div class="form-group">
											<label class="form-label" for="field-1">MONTANT <span style="color:#ff8000">*</span></label>
											<div class="controls">
												 <input ng-disabled="(idDetail &&  isOperation==null)||(!idDetail && isOperation==null)" name="montant_ch" type="number" ng-model="montant_ch" ng-change="changeMontant(montant_ch)" placeholder="0" class="form-control" required>
												<span ng-show="erreurReady && form.montant_ch.$submitted && form.montant_ch.$error.required" style="color:#ff8000">Le montant_ch est obligatoire.</span>
												<span ng-show="erreurReady && form.montant_ch.$touched && form.montant_ch.$error.required" style="color:#ff8000">Ce champ est obligatoire.</span>
												<span ng-show="erreurReady && form.input.$error.number" style="color:#ff8000">Le format est incorrect.</span>
												<span ng-show="erreurReady && isErrorNumb" style="color:#ff8000">Le montant doit être supérieur à zéro.</span>
											</div>
										</div>
										<div class="form-group">
											<label class="form-label" for="formfield1">DEVISE ÉTRANGÈRE <span style="color:#ff8000">*</span></label>
                                            <div class="controls">
                                                <select ng-disabled="(idDetail &&  isOperation==null)||(!idDetail && isOperation==null)" class="form-control" name="devise_etrangere_ch" ng-model="devise_etrangere_ch" ng-change="changeDevise(devise_etrangere_ch)" required>
                                                    <option ng-repeat="devis in listDevises" value="{{devis.description}}">{{devis.description}}</option>
													<!-- <option value="EUR" selected>EUR</option> -->
													<!-- <option value="USD">USD</option> -->
													<!-- <option value="CAD">CAD</option> -->
													<!-- <option value="CHF">CHF</option> -->
													<!-- <option value="GBP">GBP</option> -->
													<!-- <option value="JPY">JPY</option> -->
													<!-- <option value="AUD">AUD</option> -->
													<!-- <option value="DKK">DKK</option> -->
													<!-- <option value="EUR">EUR</option> -->
                                                </select>
												<span ng-show="erreurReady && form.devise_etrangere_ch.$submitted && form.devise_etrangere_ch.$error.required" style="color:#ff8000">La devise étrangère est obligatoire.</span>
                                            </div>
										</div>
										<div class="form-group">
											<label class="form-label" for="field-1">TYPE CHANGE</label>
                                            <div class='row'>
												<div class="col-xs-4 " style="width:auto" ng-repeat="choice in typechange">
                                                    <input  style="width:15px;height:15px;" ng-class="{'allowclickinput': chexBoxAllow}" class="{{choice.id}}" id="{{choice.id}}" type="radio" ng-value="{{choice.id}}" ng-model="$parent.type_ch" ng-change="choixTypeCh($parent.type_ch)">
                                                    {{choice.reponse}}
                                                </div>
                                            </div>
										</div>
									</div>
									<!-- fin col 6 1 -->
									<div class="col-sm-6"> 
										<div class="form-group">
											<label class="form-label" for="field-1">DATE VALEUR <span style="color:#ff8000">*</span></label>
                                            <div class="input-group" inputgroup>
                                                <input ng-disabled="(idDetail &&  isOperation==null)||(!idDetail && isOperation==null)" type="date" name="date_valeur_ch" class="form-control datepicker" uib-datepicker-popup ng-model="date_valeur_ch" ng-change="changeDate_valeur(date_valeur_ch)" is-open="dtpick.opened2" min-date="aujourdhui" max-date="'2020-11-28'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" required/>
                                                <span class="input-group-addon"><i class="fa fa-calendar" style="color: #999;"></i></span>
                                            </div>
											<span ng-show="erreurReady && (isOperation || !isOperation && isOperation!=null) && form.date_valeur_ch.$submitted && form.date_valeur_ch.$error.required" style="color:#ff8000">La date de valeur est obligatoire.</span>
											<span ng-show="erreurReady && (isOperation || !isOperation && isOperation!=null) && form.date_valeur_ch.$touched && form.date_valeur_ch.$error.required" style="color:#ff8000">Ce champ est obligatoire.</span>
											<span ng-show="erreurReady && (isOperation || !isOperation && isOperation!=null) && form.input.$error.date" style="color:#ff8000">Le format est incorrect.</span>
											<span ng-show="erreurReady && (!(idDetail && isOperation==null)&&!(!idDetail && isOperation==null)&&!(!isOperation && isOperation!=null))&&
															(isOperation || !isOperation && isOperation!=null) &&  date_valeur_ch!=null&&
																	(aujourdhui.getFullYear()>date_valeur_ch.getFullYear()||
																	aujourdhui.getFullYear()==date_valeur_ch.getFullYear()&&
																	(aujourdhui.getMonth()+1)>(date_valeur_ch.getMonth()+1)||
																	aujourdhui.getFullYear()==date_valeur_ch.getFullYear()&&
																	(aujourdhui.getMonth()+1)==(date_valeur_ch.getMonth()+1)&&
																	aujourdhui.getDate()>date_valeur_ch.getDate())" style="color:#ff8000">
														La date de valeur ne doit pas être inférieure à celle d'aujourd'hui.
											</span>
											<span ng-show="erreurReady && (!(idDetail && isOperation==null)&&!(!idDetail && isOperation==null)&&!(!isOperation && isOperation!=null)) && isTypeChTrue && aujourdhuiSup2_<date_valeur_ch" style="color:#ff8000">Le type change au comptant, la date de valeur ne doit pas être supérieure à 2jrs à partir de la date actuelle.</span>
										</div>
										<div class="form-group">
											<label class="form-label" for="field-1">SENS OPÉRATION</label>
                                            <div class='row'>
												<div class="col-xs-4 " style="width:auto" ng-repeat="choice in sensop">
													<input style="width:15px;height:15px;" ng-class="{'allowclickinput': chexBoxAllow}" class="{{choice.id}}" id="{{choice.id}}" type="radio" ng-value="{{choice.id}}" ng-model="$parent.sensop_ch" ng-change="choixSensOp($parent.sensop_ch)">
													{{choice.reponse}}
												</div>
                                            </div>
										</div>
									</div>
									<!-- fin col 6 2 -->
								</div>
								<!-- fin row -->
                            </div>
							<!-- fin div body -->
                    </section>
                    <section class="box ">
                            <header class="panel_header">
                                <h2 class="title pull-left">OPTIONS DE LA DEMANDE</h2>
                                <div class="actions panel_actions pull-right">
                                    <i id="box_toggle_less" class="box_toggle material-icons" style="color:#1065a8" on-load-clicker_>expand_less</i>
                                </div>
                            </header>
                            <div class="content-body">
                                <!-- START -->
                                <br>
                                <div class="row">
									<div class="col-sm-6">
										<div class="form-group">
											<div class='row'>
                                                <div class="col-xs-4 " style="width:auto">
                                                    <label class="form-label" for="field-1">TOUTES LES BANQUES</label>
                                                </div>
                                                <div class="col-xs-1 " style="width:auto" ng-repeat="choice in toutes">
                                                    <input style="width:15px;height:15px;" ng-class="{'allowclickinput': chexBoxAllow}" class="{{choice.id}}" id="{{choice.id}}" type="radio" ng-value="{{choice.id}}" ng-model="$parent.toute_ch" ng-change="choixToutes($parent.toute_ch)">
                                                    {{choice.reponse}}
                                                </div>
                                            </div>
										</div>
										<div class="form-group">
											<div class="controls" style="width: 100%;height: 150px;overflow:auto;" ng-show="!isToute">
												<table style="width: 100%;height: 100px;overflow:auto;" class="table table-hover">
													<thead>
														<tr>
															<th>CHOIX</th>
															<th>NOM</th>
															<th>VILLE</th>
															<th>PAYS</th>
														</tr>
													</thead>
													<tbody>
														<tr ng-repeat="bk in listBksByLoc">
															<td>
																<input id="checkbxinput" ng-class="{'allowclickinput': chexBoxAllow}" class="bk_{{bk.idInstitution}}" style="color:#1065a8;width:15px;height:15px" type="checkbox" value="{{bk.idInstitution}}" ng-checked="selectionbk.indexOf(bk.idInstitution) > -1" ng-click="changeBkAttach(bk.idInstitution)" class="input-sm"/>
															</td>
															<td>{{bk.nom}}</td>
															<td>{{bk.localityIdLocalite.ville}}</td>
															<td>{{bk.localityIdLocalite.pays}}</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
										<div class="form-group">
											<div class='row' style="width:auto">
                                                <div class="col-xs-4 " style="width:auto">
                                                    <label class="form-label" for="field-1">ENCHÈRE À UN TOUR</label>
                                                </div>
												<div class="col-xs-1 " style="width:auto" ng-repeat="choice in enchersm">
                                                    <input style="width:15px;height:15px;" ng-class="{'allowclickinput': chexBoxAllow}" class="{{choice.id}}" id="{{choice.id}}" type="radio" ng-value="{{choice.id}}" ng-model="$parent.encherem_ch" ng-change="choixEnchersm($parent.encherem_ch)">
                                                    {{choice.reponse}}
                                                </div>
                                            </div>
										</div>
										<div class="form-group">
											<div class='row'>
                                                <div class="col-xs-3 " style="width:auto">
                                                    <label class="form-label" for="field-1">ENCHÈRE ANONYME</label>
                                                </div>
												<div class="col-xs-1 " style="width:auto" ng-repeat="choice in enchersa">
                                                    <input style="width:15px;height:15px;" ng-class="{'allowclickinput': chexBoxAllow}" class="{{choice.id}}" id="{{choice.id}}" type="radio" ng-value="{{choice.id}}" ng-model="$parent.encherea_ch" ng-change="choixEnchersa($parent.encherea_ch)">
                                                    {{choice.reponse}}
                                                </div>
                                            </div>
										</div>
										<div class="form-group">
											<div class='row'>
                                                <div class="col-xs-3 " style="width:auto">
                                                    <label class="form-label" for="field-1">ATTACHER DOCUMENT</label>
                                                </div>
                                                <div class="col-xs-1 " style="width:auto" ng-repeat="choice in docus">
                                                    <input style="width:15px;height:15px;" ng-class="{'allowclickinput': chexBoxAllow}" class="{{choice.id}}" id="{{choice.id}}" type="radio" ng-value="{{choice.id}}" ng-model="$parent.doc_ch" ng-change="ifDocUp($parent.doc_ch)">
                                                    {{choice.reponse}}
                                                </div>
                                            </div>
										</div>
										<div class="form-group">
											<div class="controls" style="width: 100%;height: 150px;overflow: auto;" ng-show="isUpload">
												<table style="width: 100%;overflow:auto;" class="table table-hover">
														<thead>
															<tr>
																<th>CHOIX</th>
																<th>NOM</th>
															</tr>
														</thead>
														<tbody>
															<tr ng-repeat="document in listDocuments">
																<td>
																	 <input id="checkbxinput" ng-class="{'allowclickinput': chexBoxAllow}" class="doc_{{document.idDocuments}}" style="color:#1065a8;width:15px;height:15px" type="checkbox" value="{{document.idDocuments}}" ng-checked="selection.indexOf(document.idDocuments) > -1" ng-click="changeDoc_attach(document.idDocuments)" class="input-sm"/>
																</td>
																<td>{{document.nom}}</td>
															</tr>
														</tbody>
												</table> 
											</div>
										</div>
										<div class="form-group" ng-hide="isTypeCotationTrue">
											<!-- <label class="form-label" for="field-1">RÉFÉRENCE DE COURSE(MID)</label> -->
											<!-- <div class="controls"> -->
                                                <!-- <input ng-disabled="(idDetail &&  isOperation==null)||(!idDetail && isOperation==null)" type="text" name="ref_course" ng-model="ref_course_ch" ng-change="changeRefcourse(ref_course_ch)" class="form-control"> -->
											<!-- </div> -->
											<label class="form-label" for="field-1">RÉFÉRENCE DE COURSE(MID)</label>
                                            <div class='row'>
												<div class="col-xs-4 " style="width:100%" ng-repeat="choice in refcours">
													<input ng-if="choice.reponse!='' && choice.reponse!=null" name="ref_course" style="width:15px;height:15px;" ng-class="{'allowclickinput': chexBoxAllow}" class="{{choice.id}}" id="{{choice.id}}" type="radio" ng-value="{{choice.id}}" ng-model="$parent.ref_course_ch" ng-change="changeRefcourse($parent.ref_course_ch)">
													{{choice.reponse}}
												</div>
                                            </div>
										</div>
									</div>
									<!-- fin col 6 1 -->
									<div class="col-sm-6">
										<div class="form-group" style="width: 100%;height: 100px;">
											<div class='row'>
                                                <div class="col-xs-4 " style="width:auto">
													<label class="form-label" for="field-1">DATE DÉBUT </label>
													<div class="input-group" inputgroup>
														<input ng-disabled="(idDetail &&  isOperation==null)||(!idDetail && isOperation==null)" type="date" name="date_debut_ch" class="form-control datepicker" uib-datepicker-popup ng-model="date_debut_ch" ng-change="changeDate_debut(date_debut_ch)" is-open="dtpick.opened2" min-date="aujourdhui" max-date="'2020-11-28'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close"/>
														<span class="input-group-addon"><i class="fa fa-calendar" style="color: #999;"></i></span>
													</div>
													<span ng-show="erreurReady && (isOperation || !isOperation && isOperation!=null) && form.input.$error.date" style="color:#ff8000">Le format est incorrect.</span>
																				<!-- <span ng-show="erreurReady && aujourdui!=miniDate&&dateName=='date_debut_ch'" style="color:#ff8000">La date de début ne doit pas être inférieure à celle d'aujourd'hui.</span> -->
													<span ng-show="erreurReady && (!(idDetail && isOperation==null)&&!(!idDetail && isOperation==null)&&!(!isOperation && isOperation!=null))&&
																	(isOperation || !isOperation && isOperation!=null) && date_debut_ch!=null&&
																							(aujourdhui.getFullYear()>date_debut_ch.getFullYear()||
																							aujourdhui.getFullYear()==date_debut_ch.getFullYear()&&
																							(aujourdhui.getMonth()+1)>(date_debut_ch.getMonth()+1)||
																							aujourdhui.getFullYear()==date_debut_ch.getFullYear()&&
																							(aujourdhui.getMonth()+1)==(date_debut_ch.getMonth()+1)&&
																							aujourdhui.getDate()>date_debut_ch.getDate())" style="color:#ff8000">
																					La date de début ne doit pas être inférieure à celle d'aujourd'hui.
													</span>
												</div>
												<div class="col-xs-1"></div>
												<div class="col-xs-1" style="width:auto;bottom:38px">
													<div class="form-group" ng-controller="TimepickerDemoCtrl">
														<uib-timepicker ng-disabled="(idDetail &&  isOperation==null)||(!idDetail && isOperation==null)" ng-model="mytime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></uib-timepicker>
													</div>
												</div>
											</div>
										</div>
										<div class="form-group" style="width: 100%;height: 100px;">
											<div class='row'>
												<div class="col-xs-4 " style="width:auto">
													<div class="form-group">
														<label class="form-label" for="field-1">DATE FIN </label>
														<div class="input-group" inputgroup>
															<input ng-disabled="(idDetail &&  isOperation==null)||(!idDetail && isOperation==null)" type="date" name="date_fin_ch" class="form-control datepicker" uib-datepicker-popup ng-model="date_fin_ch" ng-change="changeDate_fin(date_fin_ch)" is-open="dtpick.opened2" min-date="aujourdhui" max-date="'2020-11-28'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close"/>
															<span class="input-group-addon"><i class="fa fa-calendar" style="color: #999;"></i></span>
														</div>
														<span ng-show="erreurReady && (isOperation || !isOperation && isOperation!=null) && form.input.$error.date" style="color:#ff8000">Le format est incorrect.</span>
														<span ng-show="erreurReady && (isOperation || !isOperation && isOperation!=null) && date_debut_ch>date_fin_ch" style="color:#ff8000">La date de fin ne doit pas être inférieure à la date de début.</span>
														<span ng-show="erreurReady && (isOperation || !isOperation && isOperation!=null) && (date_valeur2<=date_fin_ch)" style="color:#ff8000">La date de fin ne doit pas être supérieure ou égale à la date de valeur.</span>
													</div>
												</div>
												<div class="col-xs-1"></div>
												<div class="col-xs-1" style="width:auto;bottom:38px">
													<div class="form-group" ng-controller="TimepickerDemoCtrl">
														<uib-timepicker ng-disabled="(idDetail &&  isOperation==null)||(!idDetail && isOperation==null)" ng-model="mytime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></uib-timepicker>
													</div>
												</div>
                                            </div>
										</div>
										<!-- <div class="form-group"> -->
											<!-- <label class="form-label" for="field-1">DATE NÉGOCIATION </label> -->
                                            <!-- <div class="input-group" inputgroup> -->
                                                <!-- <input ng-disabled="(idDetail &&  isOperation==null)||(!idDetail && isOperation==null)" type="date" name="date_negociation_ch" class="form-control datepicker" uib-datepicker-popup ng-model="date_negociation_ch" ng-change="changeDate_negociation(date_negociation_ch)" is-open="dtpick.opened2" min-date="aujourdhui" max-date="'2020-11-28'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close"/> -->
                                                <!-- <span class="input-group-addon"><i class="fa fa-calendar" style="color: #999;"></i></span> -->
                                            <!-- </div> -->
											<!-- <span ng-show="erreurReady && (isOperation || !isOperation && isOperation!=null) && form.input.$error.date" style="color:#ff8000">Le format est incorrect.</span> -->
										<!-- </div> -->
										<div class="form-group">
											<div class='row'>
                                                <div class="col-xs-2 " style="width:auto">
                                                    <label class="form-label" for="field-1">TYPE COTATION</label>
                                                </div>
												<div class="col-xs-2 " style="width:auto" ng-repeat="choice in typecotation">
                                                    <input style="width:15px;height:15px;" ng-class="{'allowclickinput': chexBoxAllow}" class="{{choice.id}}" id="{{choice.id}}" type="radio" ng-value="{{choice.id}}" ng-model="$parent.type_cotationch" ng-change="choixTypeCotation($parent.type_cotationch)">
                                                    {{choice.reponse}}
                                                </div>
                                            </div>
										</div>
										<div class="form-group" ng-hide="!isSensopTrue">
											<label class="form-label" for="field-1">COURS MAX </label>
											<div class="controls">
												<input ng-disabled="(idDetail &&  isOperation==null)||(!idDetail && isOperation==null)" type="number" ng-change="showErrorCourMax(cours_max_ch)" name="cours_max_ch" ng-model="cours_max_ch" class="form-control">
												<span ng-show="erreurReady && form.input.$error.number" style="color:#ff8000">Le format est incorrect.</span>
												<span ng-show="erreurReady && isErrorCourMax" style="color:#ff8000">La valeur cours max ne doit pas être inférieure à zéro.</span>
											</div>
										</div>
										<div class="form-group" ng-hide="isSensopTrue">
											<label class="form-label" for="field-1">COURS MIN </label>
											<div class="controls">
												<input ng-disabled="(idDetail &&  isOperation==null)||(!idDetail && isOperation==null)" type="number" ng-change="showErrorCourMin(cours_min_ch)" name="cours_min_ch" ng-model="cours_min_ch" class="form-control">
												<span ng-show="erreurReady && form.input.$error.number" style="color:#ff8000">Le format est incorrect.</span>
												<span ng-show="erreurReady && isErrorCourMin" style="color:#ff8000">La valeur cours min ne doit pas être inférieure à zéro.</span>
											</div>
										</div>
									</div>
									<!-- fin col 6 2 -->
								</div>
								<!-- fin div row -->
							</div>
							 <!-- fin div body -->
                    </section>
					<!-- OFFRE -->
					<section class="box " ng-if="isOfferTrue">
                            <header class="panel_header">
                                <h2 class="title pull-left">LISTES DES OFFRES DE LA DEMANDE</h2>
                                <div class="actions panel_actions pull-right">
                                    <i id="box_toggle_more" class="box_toggle material-icons" style="color:#1065a8" on-load-clicker>expand_more</i>
                                </div>
                            </header>
                            <div class="content-body">
                                <!-- START -->
                                <br>
                                <div class='row'>
									<div class="col-sm-12"> 
										<div class="form-group" style="width: 100%;height: 150px;" ng-if="isOfferNull">
											<div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
												<div>
													<table class="table table-striped table-bordered" cellspacing="0">
														<thead>
															<tr>
																<th style="width: auto">N°</th>
																<th style="width: auto">BANQUE</th>
																<th style="width: auto">TAUX</th>
																<th style="width: auto">EST-CE SÉLECTONNÉE?</th>
																<th style="width: auto">ACTION</th>
															</tr>
														</thead>
														<tbody>
															<tr ng-repeat="offre in listOffres | orderBy:'-offer.idOffre'" ng-if="offre.offer.etat==2 || offre.offer.etat==3 ? back='#1f93f6' : back='transparent'" style="background:{{back}};background-color:{{back}}">
																<td>{{offre.offer.idOffre}}</td>
																<td>{{offre.offer.userBanqueIdUserBanque.groupeIdGroupe.institution.nom}}</td>
																<td>{{offre.offer.taux}}</td>
																<td>
																	<a ng-if="offre.offer.etat!=2 && offre.offer.etat!=3" style="color:black;">Non<a>
																	<a ng-if="offre.offer.etat==2" style="color:black;">pré-sélection<a>
																	<a ng-if="offre.offer.etat==3" style="color:black;">Oui<a>
																</td>
																<td>
																	<i class='material-icons' ng-class="{'disabled': offreWin}" style="cursor:pointer;" ng-click="visualOffer(offre)">remove_red_eye</i>
																</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</div>
										<div class="form-group" ng-if="!isOfferNull">
											<div style="text-align:center;">
												<span>Vous n'avez aucune offre sur cette demande.</span>
											</div>
										</div>
									</div>
									<!-- fin col-->
                                </div>
								<br>
                                <div class='row' ng-if="loadSelect">
									<div class="col-sm-12"> 
										<div class="form-group">
											<div style="text-align:center;">
												<img id="mySpinner" src="img/loading.gif" ng-show="loadSelect" />
											</div>
										</div>
									</div>
								</div>
								<!-- fin div row -->
                            </div>
							<!-- fin div body -->
                    </section>
					<br>
					<div style="text-align:center;">
						<button type="button"  ng-if="idDetail && isOperation==null" ng-click="cancel()" class="btn" style="background:#ff8000;">Fermer</button>
						<img id="mySpinner" src="img/loading.gif" ng-show="!idDetail && (isOperation || !isOperation || isOperation==null) && loading" />&nbsp;&nbsp;&nbsp;
						<button type="submit" ng-if="!idDetail && (isOperation || !isOperation || isOperation==null)" ng-click="addenToPcH()" class="btn btn-success" ng-disabled="
													loading ||
													idDetail && isOperation==null ||
													isErrorNumb ||
													isErrorCourMax ||
													isErrorCourMin ||
													date_valeur_ch==null ||
													date_valeur2<=date_fin_ch ||
													(isOperation || !isOperation && isOperation!=null) && 
													form.montant_ch.$invalid||
													form.date_valeur_ch.$invalid||
													form.devise_etrangere_ch.$invalid||
													form.date_debut_ch.$invalid||
													form.banque_.$invalid||
													form.date_fin_ch.$invalid||
													form.cours_max_ch.$invalid||
													form.cours_min_ch.$invalid||
													isErrorNumb||
													date_debut_ch>date_fin_ch||
													date_valeur_ch!=null&&
													date_debut_ch!=null&&
													date_fin_ch&&
													((aujourdhui.getFullYear()>date_valeur_ch.getFullYear()||
													aujourdhui.getFullYear()==date_valeur_ch.getFullYear()&&
													(aujourdhui.getMonth()+1)>(date_valeur_ch.getMonth()+1)||
													aujourdhui.getFullYear()==date_valeur_ch.getFullYear()&&
													(aujourdhui.getMonth()+1)==(date_valeur_ch.getMonth()+1)&&
													aujourdhui.getDate()>date_valeur_ch.getDate())||
													
													(aujourdhui.getFullYear()>date_debut_ch.getFullYear()||
													aujourdhui.getFullYear()==date_debut_ch.getFullYear()&&
													(aujourdhui.getMonth()+1)>(date_debut_ch.getMonth()+1)||
													aujourdhui.getFullYear()==date_debut_ch.getFullYear()&&
													(aujourdhui.getMonth()+1)==(date_debut_ch.getMonth()+1)&&
													aujourdhui.getDate()>date_debut_ch.getDate()))">
									VALIDER
								</button>
								&nbsp;
								&nbsp;
						<button type="button" ng-if="!idDetail && (isOperation || !isOperation || isOperation==null)" ng-click="cancel()" class="btn" style="background:#ff8000;">ANNULER</button>
					</div>
					<br>
					<br>
					<span ng-show="erreurReady && form.montant_ch.$invalid||
											form.date_valeur_ch.$invalid||
											form.devise_etrangere_ch.$invalid||
											form.date_debut_ch.$invalid||
											form.banque_.$invalid||
											form.date_fin_ch.$invalid||
											form.cours_max_ch.$invalid||
											form.cours_min_ch.$invalid" style="color:#ff8000">
											* Veuillez renseigner les champs obligatoires.
					</span>
					<span style="color:#ff8000" ng-show="isSuccess">{{message}}</span>
					<br>
					<div class="form-group">
						<div class="form-group">
						</div>
                    </div>
			</form>
        </div>
</div>

