<div class='content-wrapper' ng-init="app.settings.pagetitle" data-ng-controller="eTBkCtrl">
    <div class="col-lg-12">
		<button class="btn btn-primary btn-sm" ng-click="addeTbKbK()">
			<i class="material-icons" style="position:absolute;top:5px;left:0px;">add</i>&nbsp;&nbsp;&nbsp;Ajouter banque
		</button>
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">LISTE DE NOS BANQUES</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                </div>
            </header>
            <div class="content-body padding-bottom-15">
                <div class="row">
					<div class="col-xs-12" ng-if="!isDataBkReady">
						<div style="text-align:center;">
							<img id="mySpinner" style="width:50px" src="img/loading.gif" ng-show="!isDataBkReady" />
						</div>
					</div>
                    <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
                        <table ng-if="isDataBkReady" class="table table-striped" ui-jq="dataTable" ui-options="">
                            <thead>
                                <tr>
									<th style="width:auto">NUMÉRO</th>
									<th style="width:auto">NOM</th>
									<th style="width:auto">TÉLÉPHONE</th>
									<th style="width:auto">LOCALITÉ</th>
									<th style="max-width: 200px; width: 106px;min-width: 100px;">ACTIONS</th>
                                </tr>
                            </thead>
                            <tbody>
                            	<tr ng-repeat="bank in bankList | orderBy:'-idInstitution'">
                            	    <td style="width:auto">{{$index+1}}</td>
									<td style="width:auto">{{bank.nom}}</td>
									<td style="width:auto">{{bank.telephone1}}</td>
									<td style="width:auto">{{bank.localityIdLocalite.ville}}</td>
									<td style="width:auto">
										<a style='color:#1f93f6;cursor:pointer;' ng-click="editOneBk(bankList.length - $index - 1)">
											<i class='material-icons'>mode_edit</i>
										</a>
										&nbsp;&nbsp;
										<a style='color:#ff8000;cursor:pointer;' ng-click="deleteOneBk(bankList.length - $index - 1)">
											<i class='material-icons' >delete</i>
										</a>
									</td>
								</tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
