<div class='content-wrapper' ng-init="app.settings.pagetitle" data-ng-controller="bankController">
    <div class="col-lg-12">
        <button class="btn btn-primary btn-sm" ng-click="addeTenTj()" ng-if="false">
			<i class="material-icons" style="position:absolute;top:5px;left:0px;">add</i>&nbsp;&nbsp;&nbsp;Ajouter utilisateur
		</button>
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">HISTORIQUES DES UTILISATEURS</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                </div>
            </header>
            <div class="content-body padding-bottom-15">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
                        <table ng-if="islistJournalEntre" class="table table-striped" ui-jq="dataTable" ui-options="" class="table table-striped">
                            <thead>
                                <tr>
                                    <th style="width: auto">NUMÉRO</th>
                                    <th style="width: auto">DATE</th>
                                    <th style="width: auto">ENTREPRISE</th>
                                    <th style="width: auto">PRÉNOM</th>
                                    <th style="width: auto">NOM</th>
                                    <th style="width: auto">E-MAIL</th>
                                    <th style="width: auto">DESCRIPTION</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="jrnal in journalEntreprise | orderBy:'-date'">
                                    <td style="width: auto">{{$index+1}}</td>
                                    <td style="width: auto">{{jrnal.date | date:'dd/MM/yyyy'}} à {{jrnal.date | date:'HH:mm:ss'}}</td>
                                    <td style="width: auto">{{jrnal.user.groupeIdGroupe.institution.nom}}</td>
                                    <td style="width: auto">{{jrnal.user.prenom}}</td>
                                    <td style="width: auto">{{jrnal.user.nom}}</td>
                                    <td style="width: auto" class="email_user">{{jrnal.user.email}}</td>
                                    <td style="width: auto">{{jrnal.description}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>